@import '../base.scss';

.notificationWrapper {
    @include box(100%, max-content);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;

    margin-top: 20px;
}

.notification {
    min-height: 60px;

    @include box(100%);
    @include font(12px, 600);
    padding: 10px;
    border-radius: 5px;
    background-color: $grey;
}

.notification > span {
    color: $blue;
}

.timeText {
    @include font(10px, 400);
}

.messageTime {
    composes: timeText;
    display: inline-block;
    margin-left: 13px;
    margin-top: 10px;
}

.dayTime {
    text-align: center;
    composes: timeText;
    margin-top: 20px;
}

.task {
    composes: notification;
    @include flexVert();
    grid-gap: 5px;

    cursor: pointer;
}

.taskContent {
    @include box(100%);
    flex-grow: 1;
}

.taskAuthor {
    @include box(100%, max-content);
    @include flex();
    @include font(10px, 400);
    color: $darkGrey;
    grid-gap: 5px;
}

.authorSvg {
    height: 12px;
    width: 12px;
}

.afterMessage {
    @include flexCenterVert();
    grid-gap: 5px;
    margin-left: 13px;
    margin-top: 10px;
}

.tasksTrack {
    @include flexVert();
    height: calc(100% - 40px);
    overflow-y: auto;
    padding-bottom: 20px;
}

.tasksTrack::-webkit-scrollbar {
    width: 3px;
}
