@import '../../base.scss';

.select {
    @include box(230px, 29px);
    position: relative;
    margin-top: 2px;
}

.inputWrapper {
    position: relative;
    @include box(100%, 29px);
    @include flex();

    border: 1px solid $lightGrey;
    background-color: $white;
}

.input {
    @include box(100%);
    @include font(12px, 400, 12px);
    border-radius: 2px;
    padding-left: 5px;

    border: none;
    background-color: transparent;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;

    border: 1px solid $lightGrey;
    border-top: none;
    border-radius: 0 0 2px 2px;

    overflow-y: auto;

    @include box(100%, max-content);
    max-height: calc(29px * 4);
    background-color: $white;

    z-index: $overlapIndex;
}

.options::-webkit-scrollbar {
    width: 2px;
}

.optionLabel {
    display: inline-block;
    @include box(100%, 29px);
}

.optionLabel:first-child div {
    border-top: none;
}

.option {
    @include flex();
    @include font(12px, 600);
    @include box(100%, 29px);

    background-color: $white;

    border-top: 1px solid $lightGrey;
    padding: 0 5px;
    cursor: pointer;
}

.optionEmpty {
    composes: option;
    border-top: 0;
    cursor: default;
}

.optionEmpty:hover {
    background-color: $white;
}

.option:hover {
    background-color: $grey;
}

.checker {
    display: none;
}

.checker:checked ~ div {
    background-color: $grey;
}

.loader {
    height: 29px;
}

.refresh {
    @include box(max-content, 100%);
    padding-right: 5px;
    @include flexCenter();
}

.refresh svg {
    @include box(18px);
    margin-bottom: 2px;
}

.count {
    @include font(12px, 400, 12px, $blue);
    position: absolute;
    left: 5px;
}
