@import '../../base.scss';

.wrapper {
    @include flexVert();
    grid-gap: 20px;
    height: 0;
    will-change: height;
}

.table {
    @include flex();
    flex-wrap: wrap;

    grid-gap: 20px;
}

.buttons {
    @include flex();
    grid-gap: 10px;
    margin-bottom: 20px;
}

.button {
    width: 186px;
}

.settingsButton {
    @include box(40px);
    @include flexCenter();
}

.settingsButton svg {
    @include box(20px);
}

.toggler {
    @include flex();
    @include font(12px, 400, 12px, $blue);
    grid-gap: 6px;
}

.toggler svg {
    @include box(8px, 4px);
}

.inputRow {
    @include flexBetween();
    width: 230px;
}

.dash {
    min-width: 13px;
}

.dateInput {
    height: 29px;
    max-width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
}

.label {
    width: max-content !important;
}

.label span {
    font-size: 10px !important;
}

.inputWrapper {
    width: 230px;
}

.input {
    height: 29px;
}

.hard {
    @include font(12px, 400, 12px);
    @include flex();
    grid-gap: 5px;
    cursor: pointer;
}

.hardCheckbox svg {
    @include box(14px);
}
