$darkBlue: #1e293b;
$shadowBlue: #1e293b33;
$darkShadowBlue: #1a202c80;
$adminShadowBlue: rgba(30, 41, 59, 0.95);
$opacityBlue: #384b68;
$blue: #63b6f2;
$lightBlue: #c1e0ff;
$darkGrey: #4a5568;
$darkGreyShadow: #dae3eb80;
$lightGrey: #dae3eb;
$grey: #edf2f7;
$primaryGreen: #53d286;
$primaryGreenDark: #0d8c40;
$primaryGreenHover: #5ee694;
$green: #65a300;
$opacityGreen: #c2ff5f;
$orange: #e1980c;
$opacityOrange: #ffe978;
$sky: #c1e0ff;
$skyHover: #cde4fc;
$danger: #ff1f00;
$white: #ffffff;
$whiteHover: #fcfcfc;
$opacityWhite: #ffffff80;
$darkWhite: #fafafa;
$red: #d50000;
$opacityRed: #ff7f7f;
$black: #000;

$stuffIndex: 1;
$mainContentIndex: 2;
$overlapIndex: 3;
$backModalIndex: 4;
$modalIndex: 5;
$toastIndex: 6;
$totalIndex: 7;

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    @include flex();
    justify-content: center;
}

@mixin flexVert {
    display: flex;
    flex-direction: column;
}

@mixin flexCenterVert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin font(
    $size,
    $weight: 400,
    $lheight: 1.1em,
    $color: $darkBlue,
    $family: 'Inter'
) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $lheight;
    font-family: $family;
}

@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin coverBackground {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@mixin lightShadow {
    box-shadow: 0px 0px 10px 0px #1e293b1a;
}

@mixin hoverTransition($field: background-color) {
    transition: $field 0.1s 0.01s;
}

@mixin inter {
}
