@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2)
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2)
        format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2)
        format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2)
        format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2)
        format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2)
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2)
        format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2)
        format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2)
        format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2)
        format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2)
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2)
        format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2)
        format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2)
        format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2)
        format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --rt-color-dark: rgba(0, 0, 0, 0.5) !important;
}

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Inter';
    overflow-x: hidden;
    background: #fafafa;
}

input[type='checkbox'] {
    margin: 0;
}

.workstations-block--none {
    width: 120px;
    height: 7px;
    border-radius: 1px;
    background: #dae3eb;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fafafa;
}

::-webkit-scrollbar-thumb {
    background-color: #edf2f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scrollbar-width: thin;
    scrollbar-color: #edf2f7 #fafafa;
}

input {
    outline: none;
    display: block;
    font-family: 'Inter';
}

button {
    cursor: pointer;
    font-family: 'Inter';
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button:disabled {
    cursor: default;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: inherit;
    border: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.form--logo {
    max-width: 300px;
    margin-bottom: 50px;
}

.modal--file--text-df {
    display: flex;
    gap: 10px;
}

.content {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form--container h1 {
    max-width: 400px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    color: #363636;
    margin: 1em 0;
    display: block;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.form--notapp .w-md-editor {
    width: 463px;
}

.form--notapp .form-task {
    flex-direction: column;
}

.form-group .label {
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.form-group small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    color: red;
    margin-bottom: 5px;
}

.btn {
    cursor: pointer;
    border: 0;
    width: 100%;
    padding: 0;
    color: #1a202c;
    background-color: #c1e0ff;
    outline: 0;
    outline-offset: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 0px #1e293b1a;
    font-size: 12px;
    line-height: 1.3em;
}

.btn--task {
    width: 100px;
    margin-top: 0;
    margin-left: 20px;
}

.password--refresh a:hover {
    color: #004080;
}

.btn:hover,
.btn:disabled {
    background-color: #b6d3ef;
}

.form--container {
    max-width: 400px;
    width: 100%;
}

.auth--btn {
    color: #63b6f2;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.auth--btn--margin {
    margin-left: 6px;
}

.auth-btn--underline {
    text-decoration: underline;
}

.password--refresh {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    .content {
        max-width: 250px;
        padding: 15px 30px 30px 30px;
    }

    .form--logo {
        max-width: 200px;
        margin-bottom: 20px;
    }

    .form--container h1 {
        max-width: 250px;
        font-size: 18px;
    }

    .form-group label {
        font-size: 10px;
    }

    .password--refresh {
        font-size: 10px;
    }

    .btn {
        font-size: 12px;
    }

    .form-group small {
        font-size: 9px;
    }
}

.logo--container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logo--activate:hover {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: #384b68;
    justify-content: center;
    align-items: center;
}

.logo--task {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo--client {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo--activate.active {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: #384b68;
    justify-content: center;
    align-items: center;
}

.customer--container {
    max-width: 1666px;
    width: 100%;
    margin: 50px auto 0 auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.slice--logo {
    width: 100px;
    height: 1px;
    background: #fafafa;
}

.header {
    position: fixed;
    top: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(30, 41, 59, 1);
    flex-direction: column;
}

.task-nav--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1666px; */
    /* margin: 50px auto 40px auto; */
    margin-top: 50px;
}

.task-nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

.nav--info {
    color: #1a202c;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.label--options {
    cursor: pointer;
    display: flex;
    margin-left: 20px;
    color: #63b6f2;
    font-size: 12px;
    font-style: normal;
    margin-top: 4px;
    justify-content: center;
    align-items: center;
}

.label--options img {
    margin-left: 6px;
    margin-top: 2px;
}

.btn--home {
    display: flex;
    width: 240px;
    height: 32px;
    padding: 0 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #c1e0ff;
    box-shadow: 0 0 10px 0 rgba(30, 41, 59, 0.1);
    color: #1a202c;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.task {
    position: relative;
    max-width: 1666px;
    margin: 0 auto 0 auto;
    height: auto;
    border-radius: 5px;
    display: flex;
}

.task--setting {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}

.tasks--container {
    max-width: 1666px;
    margin: 40px auto 0 auto;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
}

.task--container {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    width: fit-content;
}

.task--scroll {
    overflow: auto;
    border: 1px solid #dae3eb;
    border-top-right-radius: 5px;
    width: 100%;
}

.task--scroll::-webkit-scrollbar {
    height: 10px;
}

.task--scroll::-webkit-scrollbar {
    border-right: 1px solid #dae3eb;
}

.task--navbar--info {
    transform: rotate(270deg);
    margin-top: 30px;
    display: flex;
    margin-right: 3px;
    color: #4a5568;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.navbar--filter {
    display: flex;
}

.task--navbar--nav {
    display: grid;
    width: 100%;
    height: 40px;
    border-radius: 0 5px 0 0;
    border-top: 0;
    border-right: 0;
    background: #edf2f7;
    align-items: center;
    border-bottom: 1px solid #dae3eb;
}

.filter--open {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.task--nav {
    display: flex;
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    min-width: 200px;
    align-items: center;
    flex-direction: row;
}

.task--info--nav {
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    height: 75px;
    align-items: center;
    display: grid;
}

.task--info {
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    min-width: 200px;
    display: flex;
    white-space: pre-wrap;
    height: 100%;
}

.task--info input {
    margin-right: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.task--nav input {
    cursor: pointer;
    margin: 0 10px 0 20px;
}

.task--info--container {
    border-bottom: 1px solid #dae3eb;
    background: #fff;
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
}

.task--navbar--filter--leave {
    height: 100%;
}

.nav--info--leave {
    display: none;
}

.click--task--navbar--open .nav--info--leave {
    display: block;
}

.task--navbar--filter {
    width: 20px;
    height: auto;
    border-radius: 5px 0 0 0;
    border: 1px solid #dae3eb;
    border-right: 0;
    background: #edf2f7;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    z-index: 0;
}

.click--task--navbar--filter {
    width: 100px;
    cursor: default;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.filter--leave {
    display: none;
    cursor: pointer;
}

.filter--nav--container {
    overflow: hidden;
}

.profile--menu {
    position: absolute;
    display: flex;
    bottom: 0;
    left: -400px;
    width: 400px;
    height: 100vh;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dae3eb;
    background: #fff;
    transition: 0.3s;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}

.task--menu {
    position: absolute;
    display: flex;
    bottom: 0;
    right: -500px;
    width: 500px;
    height: 100vh;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dae3eb;
    background: #fff;
    transition: 0.3s;
    box-sizing: border-box;
    flex-direction: column;
}

.notification--menu {
    position: absolute;
    display: flex;
    bottom: 0;
    left: -500px;
    width: 500px;
    height: 100vh;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dae3eb;
    background: #fff;
    transition: 0.3s;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}

.profile--menu--active {
    left: 0;
    transition: 0.3s;
}

.task--menu--active {
    right: 0;
    transition: 0.3s;
}

.notification--menu--active {
    left: 0;
    transition: 0.3s;
}

.settings--profile--nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #1a202c;
}

.settings--profile--nav img {
    margin-right: 10px;
}

.settings--profile-df {
    display: flex;
    padding: 20px;
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    height: 100%;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.filter--nav {
    display: none;
    color: #1a202c;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    min-width: 100px;
}

.click--task--navbar--filter .filter--nav {
    display: block;
}

.filter--nav--li {
    padding: 4px 16px 4px 16px;
    max-width: 60px;
    margin: 4px;
    cursor: pointer;
}

.filter--nav--li:hover {
    background-color: #c1e0ff;
    border-radius: 2px;
}

.filter--info {
    display: none;
}

.click--task--navbar--filter .filter--info {
    display: flex;
    height: auto;
    background-color: #edf2f7;
    width: 100px;
}

.click--task--navbar--filter .filter--info--nav {
    padding: 12px;
}

.filter--info--navbar {
    display: none;
}

.click--task--navbar--filter .filter--info--navbar {
    display: block;
    margin-top: 25px;
    height: auto;
    background-color: #edf2f7;
}

.click--task--navbar--filter .filter--leave {
    display: flex;
}

.click--task--navbar--filter .filter--open {
    display: none;
}

.click--task--navbar--filter .navbar--filter {
    display: none;
}

.navbar--filter--leave {
    display: none;
}

.click--task--navbar--filter .navbar--filter--leave {
    display: flex;
    padding: 13px 19px;
    border-bottom: 1px solid #dae3eb;
}

.click--task--navbar--filter .task--navbar--info {
    transform: none;
    margin-top: 0;
    margin-right: 0;
    margin-left: 5px;
}

.modal-open {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(30, 41, 59, 0.2);
    transition: 0.8s;
}

.task--info--status {
    width: 180px;
    min-width: 180px;
    padding: 4px 7px 4px 7px;
    align-items: center;
    border-radius: 5px;
    background: #ffe978;
    display: flex;
    color: #000;
}

.task--info--status--serv {
    width: 166px;
    padding: 4px 7px 4px 7px;
    align-items: center;
    border-radius: 5px;
    background: #ffe978;
    display: flex;
    color: #000;
    justify-content: space-between;
    margin-right: 5px;
    transition: 1s;
}

.info--status {
    color: #e1980c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    margin-left: 5px;
}

.ml--header {
    margin-left: 100px;
}

.logo img {
    width: 43px;
    height: 40px;
}

.profile img {
    width: 100px;
}

.navbar--container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar__link img {
    width: 40px;
    height: 40px;
}

.navbar__link {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.profile--info img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.br img {
    border-radius: 50px;
}

.profile--status {
    display: flex;
    width: 356px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #dae3eb;
    margin: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #4a5568;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    background: #edf2f7;
    cursor: pointer;
}

.profile--status--nav {
    border-right: 1px solid #dae3eb;
    padding: 8px 0 7px 0;
    width: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile--status--nav:last-child {
    border-right: 0;
}

.profile--status--active {
    background: #fff;
}

.profile--status--active:first-child {
    border-radius: 5px 0 0 5px;
}

.profile--status--active:last-child {
    border-radius: 0 5px 5px 0;
}

.navbar__link {
    cursor: pointer;
}

.profile--navbar .navbar__link {
    margin-bottom: 20px;
}

.profile--navbar {
    width: 235px;
    height: 60vh;
    border-right: 1px solid #8a8d906b;
    padding-top: 20px;
}

.profile--content {
    display: flex;
    width: 100%;
    padding-top: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.back--login {
    font-size: 12px;
    display: flex;
    margin-bottom: 20px;
}

.navbar__link a {
    font-size: 14px;
    text-transform: uppercase;
    color: #363636;
    font-weight: 700;
    transition: all 0.3s ease;
}

.navbar__link a:hover {
    color: #0088ce;
}

.container--profile {
    max-width: 1666px;
    margin: auto auto;
}

.container--refresh {
    max-width: 400px;
    margin: 100px auto 100px auto;
}

.profile--main {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.form--profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form--profile .form-group {
    margin-right: 25px;
}

.btn-profile {
    width: calc(100% - 25px);
}

.profile--avatar {
    display: flex;
    flex-direction: column;
    max-width: 135px;
    margin-right: 10px;
}

.profile--avatar input {
    display: none;
}

.profile--avatar img {
    height: 40px;
    cursor: pointer;
    width: 40px;
    box-shadow: 0 0 10px 1px #0000001a;
    border-radius: 50px;
    object-fit: cover;
}

.profile--avatar img:hover {
    filter: invert(25%);
}

.image--label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: space-between;
    cursor: default;
    margin-top: 10px;
}

.logout {
    color: red !important;
}

.info--df {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    width: calc(100% - 25px);
}

.info--role {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 500;
}

.card--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .card--container {
        justify-content: center;
    }

    .card--customer {
        flex-basis: 45%;
    }
}

.card--customer {
    display: flex;
    max-width: 300px;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    margin: 6px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.customer--search input {
    max-width: 298px;
    margin: 6px;
}

.customer--search a {
    max-width: 320px;
    margin-right: 12px;
    height: 38px;
    font-size: 14px;
    margin-left: 6px;
}

.search--container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.pagination img {
    max-width: 55px;
    cursor: pointer;
}

.pagination--next img {
    transform: rotate(180deg);
}

.page--container {
    margin: 15px auto 0 auto;
    display: flex;
    max-width: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.page--container button:disabled img {
    filter: invert(30%);
    cursor: not-allowed;
}

.center--form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.profile--nav--container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.df-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile--menu--inf {
    color: #1a202c;
    font-size: 18px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    padding: 16px 0 16px 20px;
    width: 100%;
    border-bottom: 1px solid #dae3eb;
}

.profile--menu--inf-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.profile--menu--inf img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.close--profile--menu img {
    padding: 18px;
    cursor: pointer;
    border-bottom: 1px solid #dae3eb;
    border-left: 1px solid #dae3eb;
}

.profile--info {
    display: flex;
    align-items: center;
}

.profile--text {
    margin-left: 15px;
}

.profile--text--name {
    margin-bottom: 5px;
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.profile--text--email {
    color: #4a5568;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.profile--menu--message {
    margin-top: 2px;
}

.notif--block {
    width: auto;
    min-width: 8px;
    display: flex;
    height: 19px;
    padding: 3px 6px 3px 6px;
    margin-left: 10px;
    border-radius: 5px;
    background: #dae3eb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.close--notif--menu img {
    width: 18px;
    height: 19px;
    padding: 18px;
    cursor: pointer;
    border-bottom: 1px solid #dae3eb;
    border-left: 1px solid #dae3eb;
}

.container--message {
    height: auto;
    overflow-y: auto;
}

.message {
    margin-top: 20px;
    margin-left: 20px;
}

.message--date {
    text-align: center;
    color: #4a5568;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.message--block--time {
    display: flex;
    color: #4a5568;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    margin-left: 13px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message--block {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 408px;
    min-height: 40px;
    height: auto;
    border-radius: 5px;
    background: #edf2f7;
    padding: 10px;
}

.message--block--text {
    color: #1a202c;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.message--df {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.message--block--read {
    background: #fafafa;
}

.message--block--read .message--block--text {
    color: rgba(26, 32, 44, 0.5);
}

.close--notif--menu {
    width: 55px;
    height: 55px;
}

.close--profile--menu {
    width: 55px;
    height: 55px;
}

.task--text {
    color: #4a5568;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.task--text a {
    color: #4a5568;
}

.task--title {
    color: #1a202c;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 5px;
}

.task--date {
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    margin-top: 3px;
}

.tasks--nav {
    margin-right: 40px;
}

.tasks--nav--title {
    margin-bottom: 3px;
}

.max--h {
    max-height: 16px;
}

.map--service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task--service {
    border-radius: 5px;
    border: 1px solid #dae3eb;
    background: #fff;
    max-width: 1626px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    height: 30px;
    align-items: center;
}

.task--service--nav {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 40px;
}

.task--service--text {
    color: #63b6f2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin: 0 6px 0 6px;
}

.status--text {
    display: flex;
}

.task--confirm {
    display: flex;
    width: calc(100% - 153px);
    position: fixed;
    right: 0;
    bottom: 0;
    height: 38px;
    border: 1px solid #dae3eb;
    background: #edf2f7;
    padding: 10px 0 10px 51px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    z-index: 0;
}

.btn--confirm {
    color: #1a202c;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 200px;
    height: 40px;
    padding: 15px 0 15px 0;
    border-radius: 4px;
    background: #53d286;
    box-shadow: 0 0 10px 0 rgba(30, 41, 59, 0.1);
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.btn--confirm:hover {
    background: #55c480;
}

.settings--profile--nav img {
    width: 30px;
    height: 30px;
}

.leave img {
    width: 23px;
    height: 22px;
}

.btn--confirm img {
    margin-top: 2px;
}

.btn--confirm--mr {
    margin-left: 10px;
}

.white {
    background: #fff;
}

.white:hover {
    background: #f1f1f1;
}

.task--form {
    max-width: 1666px;
    margin: 20px auto 100px;
}

.row-df {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.my-masonry-grid {
    display: flex;
    margin-left: -20px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 20px;
    background-clip: padding-box;
}

.task--form--row {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dae3eb;
    background: #fff;
    transition: 0.3s;
    overflow: hidden;
    margin-bottom: 20px;
}

.task--form--row--active {
    padding: 20px;
    display: flex;
    width: calc(100% - 40px);
    height: 22px;
    border-radius: 5px;
    border-bottom: 1px solid #dae3eb;
    background: #fff;
    align-items: center;
    justify-content: space-between;
}

.task--form--row--active img {
    width: 14px;
    height: 7px;
    cursor: pointer;
}

.task--form--title {
    color: #1a202c;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.task--form--full {
    margin-top: 20px;
    height: 250px;
    border-radius: 5px;
    border: 1px solid #dae3eb;
    background: #fff;
    transition: 0.3s;
}

.task--form--row--deactivate .task--form--row--active img {
    transform: rotate(180deg);
}

.form-task input {
    max-width: 300px;
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 0 6px;
}

.form-task-nav-input input {
    height: 21px;
    border-radius: 1px;
    max-width: 450px;
}

.date-nav input {
    height: 31px;
    border-radius: 1px;
}

.form-task-nav {
    margin-left: 20px;
}

.form-task-nav input {
    max-width: 100%;
    width: 450px;
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 0 6px;
    height: 31px;
    border-radius: 1px;
}

.form-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.form-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.task--form--row--deactivate {
    height: 62px;
}

.form-task--select input {
    background: url('/arrow--select.svg') no-repeat 98% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: block;
    appearance: none;
    outline-width: 0;
    border-radius: 1px;
    border: 1px solid #dae3eb;
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    max-width: 450px;
    padding: 0 6px;
    height: 23px;
    cursor: pointer;
}

.form-task--select--profile input {
    background: url('/arrow--select.svg') no-repeat 99% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: block;
    appearance: none;
    outline-width: 0;
    border-radius: 1px;
    border: 1px solid #dae3eb;
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    max-width: 450px;
    padding: 0 6px;
    height: 23px;
    cursor: pointer;
}

.form-task--select input:active,
.form-task--select input:focus {
    background: url('/arrow--select--revert.svg') no-repeat 98% 50% !important;
}

.form-task--select input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.form-task--select--profile:active,
.form-task--select--profile:focus {
    background: url('/arrow--select--revert.svg') no-repeat 99% 50% !important;
}

.form-task--select--profile input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group select {
    background: url('/arrow--select.svg') no-repeat 98% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: block;
    appearance: none;
    outline-width: 0;
    border-radius: 1px;
    border: 1px solid #dae3eb;
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 300px;
    padding: 0 6px;
    height: 23px;
}

.client-info--name {
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.client-info--df--link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
}

.task--text {
    cursor: pointer;
}

.client-info--link {
    justify-self: flex-end;
}

.client-info--link img {
    width: 14px;
    height: 14px;
    margin: 0 4px;
    cursor: pointer;
}

.scroll--task--customer {
    overflow-y: auto;
    max-height: 350px;
}

.client-info--df--link .client--info--df--link--text {
    color: #1a202c;
    width: 200px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    border: 0;
    background: #edf2f7;
    padding: 0;
}

.client-info--df--link input::placeholder {
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.client-info--df--link input:focus::placeholder {
    color: transparent;
}

.client--info--df .client--info--df--text {
    color: #4a5568;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    border: 0;
    background: #edf2f7;
    padding: 0;
}

.client--info--df input:focus::placeholder {
    color: transparent;
}

.client--info--df input::placeholder {
    color: #4a5568;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.client--info--geo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.workstations--grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border-radius: 5px;
    border: 1px solid #dae3eb;
    background: #edf2f7;
    margin: 20px;
    position: relative;
}

.workstations--df input {
    border: 0;
    font-size: 12px;
    background: #edf2f7;
    padding: 0;
    color: #4a5568;
}

.workstations--df input:focus::placeholder {
    color: transparent;
}

.workstations--df {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 10px;
    border-bottom: 1px solid #dae3eb;
}

.form-task--textarea {
    align-items: flex-start;
}

.task--form--row--textarea {
    height: 360px;
}

.task--form--row--deactivate.task--form--row--textarea {
    height: 62px;
    transition: 0.3s;
}

.welcome--auth {
    max-width: 400px;
    color: #1a202c;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    margin-right: auto;
    margin-bottom: 10px;
}

.workstations--df--img {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.workstations--df--img img {
    width: 18px;
    height: 18px;
    margin: 0 10px;
}

.welcome--auth--text {
    max-width: 400px;
    color: #1a202c;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

.welcome--auth--singup {
    margin-top: 20px;
    color: #1a202c;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.logo--auth {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 200px;
}

.footer-auth {
    position: absolute;
    bottom: 60px;
    left: 60px;
    color: #4a5568;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.modal--file {
    display: none;
}

.modal--file--open {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid #dae3eb;
    background: #fff;
}

.modal--history--nav {
    height: auto;
    min-height: 50px;
    background: #edf2f7;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #dae3eb;
}

.modal--history--nav:last-child {
    border-bottom: 0;
}

.modal--history--text {
    display: flex;
    color: #4a5568;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
}

.modal--history {
    background: #fff;
}

.modal--history .modal--history--text {
    background: #fff;
    font-size: 12px;
}

.modal--history--next img {
    margin-left: -22px;
    margin-right: 10px;
}

.modal--history--scroll {
    overflow: auto;
    max-height: 152px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #dae3eb;
}

.modal--history--scroll-df {
    max-height: 100%;
}

.modal--history--scroll::-webkit-scrollbar-track {
    border-bottom-right-radius: 4px;
}

.modal--history--scroll::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 4px;
}

.check--mark img {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.task--message--nav {
    display: flex;
    height: 45px;
    border-bottom: 1px solid #dae3eb;
    background: #edf2f7;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.btn--task img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.toggle,
.toggle:before,
.slot__label,
.curtain {
    transition-property: background-color, transform, visibility;
    transition-duration: 0.25s;
}

.toggle:before,
.slot,
.slot__label {
    display: block;
}

.toggle:before,
.curtain {
    position: absolute;
}

.toggle:focus {
    outline: transparent;
}

.toggle {
    border-radius: 0.75em;
    box-shadow: 0 0 0 2px #1a202c80;
    cursor: pointer;
    position: relative;
    margin-right: 0.25em;
    width: 28px;
    height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.toggle:before {
    background: #1a202c80;
    border-radius: 50%;
    content: '';
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
}

.toggle:checked {
    box-shadow: 0 0 0 2px #1a202c;
    transition: 1s;
}

.toggle:checked:before {
    transform: translateX(11px);
    background: #1a202c;
}

.toggle:checked ~ .slot .slot__label,
.slot__label:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
    background: #1a202c;
}

.toggle:checked ~ .slot .slot__label:nth-child(2) {
    transform: translateY(-100%) scaleY(1);
}

.toggle:checked ~ .curtain {
    transform: scaleX(1);
}

.slot {
    color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    overflow: hidden;
    height: 1em;
    text-indent: -0.9em;
    -webkit-text-stroke: 0.05em #fff;
}

.slot__label {
    transform-origin: 50% 0;
}

.slot__label:nth-child(2) {
    transform-origin: 50% 100%;
}

.curtain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    z-index: -1;
}

.task--swift {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 20px;
}

.task--swift label {
    cursor: pointer;
    color: #1a202c;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
}

.form--task--navbar {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.mt {
    margin-top: 20px;
}

.btn--confirm--task--nav img {
    height: 12px;
    width: 16px;
}

.btn--blue {
    max-height: 10px;
    background: #c1e0ff;
}

.btn--blue:hover {
    background: #b6d3ef;
}

.btn--home:hover {
    background: #b6d3ef;
}

.btn--task--row {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}

.form-task--navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.form-task--navbar input {
    max-width: 100%;
    width: 450px;
}

.form-task--navbar textarea {
    max-width: 100%;
    width: 450px;
}

.ml {
    margin-left: 20px;
}

.message--block--user {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(74, 85, 104, 0.5);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.message--block--user img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.form-date {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form-date input {
    width: 126px;
}

.form-date .form-task {
    display: flex;
    margin: 0;
}

.date--input--img {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.date--input--img img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.line-date {
    width: 16px !important;
    margin-top: 20px;
    margin-left: 11px;
    margin-right: 11px;
    height: 10px !important;
}

.filter--search {
    max-width: 1666px;
    margin: auto auto;
    overflow: hidden;
    height: 0px;
}

@keyframes animate--filter--hidden {
    0% {
        overflow: inherit;
        height: var(--my-height-filter-var);
    }
    100% {
        overflow: hidden;
        height: 0px;
    }
}

@keyframes animate--filter--show {
    0% {
        overflow: hidden;
        height: 0px;
    }

    100% {
        overflow: inherit;
        height: var(--my-height-filter-var);
    }
}

.search--active {
    animation: animate--filter--show;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

.hidden {
    animation: animate--filter--hidden;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

.filter--search--row {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.btn--filter {
    width: 186px;
    height: 40px;
    box-shadow: 0px 0px 10px 0px rgba(30, 41, 59, 0.1);
    margin: 0;
}

.df-btn--setting {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.df-btn--setting img {
    cursor: pointer;
    margin-left: 10px;
}

input[type='date']::-webkit-calendar-picker-indicator {
    background: url('/date--time.svg') no-repeat 80% 50%;
}

input[type='time']::-webkit-calendar-picker-indicator {
    background: url('/date--time.svg') no-repeat 80% 50%;
}

.custom-select {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background-color: #f7f7f7;
}

.select-header.open {
    background-color: #e0e0e0;
}

.select-options {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.select-options li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.select-options li:hover {
    background-color: #f5f5f5;
}

.selected-option {
    margin-top: 10px;
    font-size: 14px;
}

.modal--filter {
    display: flex;
    width: 830px;
    height: 730px;
    border-radius: 5px;
    border: 1px solid #dae3eb;
    background: #fff;
    flex-direction: column;
    justify-content: space-between;
}

.transform--arrow img {
    transform: rotate(180deg);
}

.modal--filter--btn {
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #dae3eb;
    background: #fff;
}

.link--reset {
    color: #63b6f2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.status--green {
    background: #c2ff5f !important;
}

.status--green .info--status {
    color: #65a300 !important;
}

.status--red {
    background: #ff7f7f !important;
}

.danger--container {
    margin-left: 265px;
    margin-top: 20px;
}

.status--red .info--status {
    color: #d50000 !important;
}

.select--menu {
    position: relative;
    height: auto;
}

.select-menu--container {
    overflow: hidden;
    height: 0px;
    position: absolute;
    transition: 0.2s;
    padding-top: 5px;
    box-sizing: content-box;
}

.select-menu--container--active {
    transition: 0.3s;
}

.select-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    height: auto;
}

.modal--filter--row-checkbox {
    display: flex;
    width: 620px;
    height: 590px;
    border-radius: 5px 5px 0 0;
    background: #edf2f7;
    margin-right: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.modal--filter--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.modal--filter--navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.modal--filter--nav {
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
}

.modal--filter--nav--ml {
    padding-left: 10px;
    text-align: left;
}

.grab {
    cursor: grab;
}

.grab:active {
    cursor: grabbing;
}

.modal--filter--nav img {
    display: none;
}

.modal--filter--nav--activate img {
    display: unset;

    margin-right: 5px;
    margin-left: 5px;
}

.modal--filter--nav--activate .modal--filter--nav--ml {
    padding: 0;
}

.modal--filter--nav--activate .modal--filter--nav--ml img {
    margin-right: 5px;
    margin-left: 5px;
}

.modal--filter--nav--activate {
    background: #edf2f7;
    border-radius: 2px;
}

.modal--filter--nav:hover {
    background: #edf2f7;
    border-radius: 2px;
}

.modal--filter--checkbox--h {
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}

.modal--filter--checkbox--df {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: flex-end;
    height: 60px;
}

.checkbox--df {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.modal--filter--checkbox--text {
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
}

.checkbox--df--row {
    display: grid;
    grid-template-columns: repeat(3, 0.4fr);
}

.client--df {
    display: flex;
    width: 760px;
    height: 85px;
    border-radius: 5px;
    background: #edf2f7;
    margin: 20px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.client-info--title {
    color: #4a5568;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.client--info--df {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #4a5568;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.client--info--df img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.task--pagination {
    max-width: 1664px;
    margin: 0 auto 0 auto;
    height: auto;
    display: flex;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #dae3eb;
    border-right: 1px solid #dae3eb;
    border-left: 1px solid #dae3eb;
    background: #edf2f7;
    padding: 10px 0;
    margin-bottom: 50px;
}

.pagination--text {
    color: #4a5568;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
    display: flex;
}

.pagination--text--activate {
    color: #63b6f2;
    margin-left: 10px;
}

.pagination--text--slice {
    margin-left: 10px;
}

.task--pagination-df {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task--pagination--number {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #1e293b;
    color: #fafafa;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
}

.task--pagination-df--text {
    display: flex;
}

.profile--container {
    max-width: 1666px;
    margin: 40px auto 0 auto;
    height: auto;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.mrb {
    margin-bottom: 40px;
}

.form-task-profile-input input {
    max-width: 80%;
    width: 1200px;
    height: 21px;
    border-radius: 1px;
}

.form-task-profile-input {
    width: 1300px;
}

.mrl-profile--input {
    margin-right: 600px;
}

.modal--container-profile--form {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #dae3eb;
    background: #fff;
    padding-bottom: 50px;
}

.none-task--text {
    color: #1a202c;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 20px;
}

.none--task--container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.customer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.customer .form-task {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile--text--password {
    color: #63b6f2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 150px;
    cursor: pointer;
}

.avatar-df {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 175px;
}

.profile--avatar--text {
    color: #63b6f2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 40px;
    width: 150px;
    cursor: pointer;
}

.disable--select-role {
    display: flex;
    max-width: 80%;
    width: 1200px;
    height: 21px;
    border-radius: 1px;
    color: #4a5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 0 6px;
    border: 1px solid #dae3eb;
    margin: 0;
    outline: none;
    align-items: center;
    background: #dae3eb;
}

.modal--file--text {
    color: #63b6f2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.plus--add {
    position: absolute;
    bottom: -8px;
    right: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.plus--add img {
    width: 18px;
    height: 18px;
}

.plus--add--revert {
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.plus--add--revert--del {
    top: 12px;
}

.plus--add--revert img {
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
}

.plus-block {
    position: relative;
}

.w-md-editor {
    width: 600px;
}

.w-md-editor-fullscreen {
    width: 100% !important;
}

.comment--block {
    padding: 20px;
}

.comment--block--text {
    width: 650px;
    height: 60px;
    border-radius: 5px;
    background: #edf2f7;
    padding: 10px;
}

.comment--df {
    margin-bottom: 25px;
}

.comment--df:last-child {
    margin-bottom: 0;
}

.message--scroll {
    max-height: 300px;
    overflow-x: auto;
}

.comment--block--text--min {
    color: #4a5568;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.comment--block--text--max {
    margin-top: 5px;
    color: #1a202c;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.comment--df--b {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.comment--df {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.btn--comment {
    width: 160px;
    height: 35px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #1a202c;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.comment--btn--mr {
    margin-top: 20px;
}

.comment--df--bottom {
    display: flex;
    flex-direction: column;
}

.avatar--comment {
    margin-left: 11px;
}

.avatar--comment .navbar__link {
    height: auto !important;
}

.comment--textarea textarea {
    resize: none;
    max-width: 648px;
    min-width: 648px;
    max-height: 40px;
    min-height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dae3eb;
}

.comment--textarea {
    margin-left: 20px;
}

.mb {
    margin-bottom: 15px;
}

.mb input {
    margin-top: 2px;
}

.comment--textarea textarea.active {
    max-height: 80px;
    min-height: 80px;
}

.modal--file--input {
    width: calc(100% - 30px);
    height: 68px;
    border-radius: 5px;
    border: 1px dashed #dae3eb;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal--file--input input {
    display: none;
}

.input--file {
    cursor: pointer;
    display: flex;
    color: #1a202c;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 185px;
    height: 32px;
    padding: 0 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #c1e0ff;
    box-shadow: 0 0 10px 0 rgba(30, 41, 59, 0.1);
}

.file--df {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.scroll--task {
    max-height: 72vh;
    overflow: auto;
}

.loader {
    width: 160px;
    height: 160px;
    border: 5px solid #1e293b;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rowStartEnd {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-self: center;
    justify-self: center;
}

.mb0 {
    margin-bottom: 0;
}

.p0 {
    padding: 0;
}

.form-short-group .label {
    font-size: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mt15 {
    margin-top: 15px;
}

.rowCenter {
    display: flex;
    justify-content: center;
}

.inputsRow {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.removeBtn {
    display: none;
}

.removableWrapper:hover .removeBtn {
    display: flex;
}

.mt2 {
    margin-top: 2px;
}
