@import '../base.scss';

.window {
    @include box(100%, 100vh);

    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.cover {
    @include box(100%);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('/vitalik.jpg');
    background-position: top;
    background-size: cover;
    padding: 60px;
    padding-right: 0;
}

.copyright {
    @include font(10px);
    color: #fff;
}

.logo {
    width: 158px;
    height: 40px;
}

.content {
    @include box(100%);
    @include flexCenter();
}
