@import '../base.scss';
@import './table.module.scss';

.rowLayout {
    display: grid;
    grid-template:
        1fr /
        max-content 1fr 1fr 1fr;
    padding: 0 10px;
}

.header {
    composes: rowLayout;
}

.headerField:first-child {
    grid-gap: 10px;
}

.tableItem {
    composes: rowLayout;
    composes: rowItem;
    min-height: 60px;
    @include hoverTransition();
    cursor: pointer;
    background-color: $white;
}

.tableItem:hover {
    background-color: $darkWhite;
}

.tableItemField {
    @include box(100%);
    @include flex();
    @include font(12px, 600);
}

.tableItemName {
    composes: tableItemField;
    grid-gap: 10px;
}

.jobsList {
    max-height: calc(75px * 3 + 10px * 2);
}

.tableItemField a:visited {
    color: $darkBlue;
}

.link {
    display: inline-block;
    word-break: break-all;
    line-height: 1.2em;
}

.link:hover {
    text-decoration: underline;
}
