@import '../base.scss';
@import './table.module.scss';

.rowLayout {
    display: grid;
    grid-template: 1fr / max-content 1fr 1fr;
    padding: 0 10px;
}

.tableItem {
    composes: tableItem;
    cursor: default;
}

.tableItem > * {
    cursor: default;
}

.tableItem:hover {
    background-color: $white;
}

.modalButtons {
    @include box(410px, 40px);
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: 10px;

    margin: 0 auto;
    margin-top: 70px;
}

.modalHeaderLayout {
    display: grid;
    grid-template: 1fr / 1fr max-content 52px;
}
