@import '../elements/select_option.module.scss';

.wrapper {
    @include flex();
    margin-top: 10px;
}

.comment {
    composes: selectedEntityCard;
    width: 60%;
    max-width: 1000px;
    position: relative;
}

.commentHeader {
    @include flex();
    align-items: flex-end;
    grid-gap: 5px;
}

.content {
    line-height: 1.5em;
    font-size: 12px;
}

.content img {
    max-height: 100px;
    cursor: pointer;
}

.commentButtons {
    @include flex();
    grid-gap: 7px;

    position: absolute;
    top: 5px;
    right: 10px;
}

.editButton svg {
    @include box(12px);
}
