@import '../base.scss';
@import './table.module.scss';

.contactsTable {
    margin-top: 40px;
    grid-template: 'content' 1fr 'pagination' 40px / 1fr;
    max-height: calc(100vh - 50px - 32px - 40px - 20px);
}

.rowLayout {
    display: grid;
    grid-template: 1fr / max-content 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0 10px;
}

.contactsTableItem {
    @include font(12px, 600);
    composes: ticketJobItem;
    composes: rowLayout;
    @include hoverTransition();
    cursor: pointer;
    background-color: $white;

    overflow: auto;

    padding: 0 10px;
}

.contactsTableItem:hover {
    background-color: $darkWhite;
}

.contactsTableItemField::-webkit-scrollbar {
    @include box(4px);
}

.contactsTableItemField {
    composes: ticketJobItemField;
    flex-wrap: wrap;
    grid-gap: 0 5px;
    overflow-y: auto;

    padding: 5px 0;
}

.contactsTableItemField:first-child {
    grid-gap: 10px;
}
