@import '../base.scss';
@import './table.module.scss';
@import './layout.module.scss';

.rowLayout {
    display: grid;
    grid-template: 1fr / max-content 1fr;
    padding: 0 10px;
}

.header {
    composes: rowLayout;
}

.headerField:first-child {
    grid-gap: 10px;
}

.tableItem {
    composes: rowLayout;
    composes: rowItem;
    min-height: 60px;
    @include hoverTransition();
    cursor: pointer;
    background-color: $white;
}

.tableItem:hover {
    background-color: $darkWhite;
}

.tableItemField {
    @include box(100%);
    @include flex();
    @include font(12px, 600);
}

.tableItemName {
    composes: tableItemField;
    grid-gap: 10px;
}

.status {
    @include box(166px, max-content);
    @include flex();
    position: relative;
}

.statuses {
    @include flex();
    flex-wrap: wrap;
    grid-gap: 10px;
}

.addStatus {
    @include box(26px);
    @include flexCenter();
    border: 1px solid $darkGrey;
    border-radius: 50%;
}

.addStatus svg {
    @include box(10px);
    fill: $darkGrey;
}

.statusRemove {
    position: absolute;
    top: -3px;
    right: -4px;
}
