@import '../base.scss';
@import '../elements/blue_button.module.scss';

.filesInputWrapper {
    @include box(100%);
    padding: 10px;
}

.filesInput {
    @include box(100%, 70px);
    @include flexCenter();
    @include font(12px, 600);

    border: 1px dashed $lightGrey;
    border-radius: 5px;
}

.filesInputDrag {
    border-style: solid;
    // background-color: $darkGreyShadow;
    background-color: $grey;
}

.filesInputButton {
    composes: button;

    cursor: pointer;
    border-radius: 30px !important;
    max-width: 236px;
}
