@import '../base.scss';

.header {
    @include box(100%, max-content);
    @include flex();
    align-items: flex-end;
    margin-top: 50px;
    margin-bottom: 40px;
}

.headerMainTitle {
    @include font(24px, 600, 24px);
}

.headerTitleSide {
    @include flexVert();
    grid-gap: 10px;
}

.breadcrumbs {
    @include font(10px, 400, 12px, $darkGrey);
}

.smallHeaderMargin {
    margin-top: 33px !important;
}

.ticketHeaderLabel {
    @include flexVert();
    @include font(10px, 400, 12px, $darkGrey);
    grid-gap: 5px;
}

.ticketHeaderValue {
    @include font(12px, 600, 14px);
}

.headerChildrenContainer {
    @include flex();
    margin-left: 20px;
    grid-gap: 30px;
}

.headerChildrenContainerEnd {
    composes: headerChildrenContainer;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;
}

.buttons {
    @include flex();
    grid-gap: 30px;
}

.ticketHeaderLabelBlocked {
    opacity: 0.5;
}

.ticketWorkTime {
    @include font(12px, 600, 14px);

    text-align-last: left;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
}

.ticketWorkTime:hover {
    background-color: $lightGrey;
}

.ticketTimer {
    width: 97px;
}

@media (min-width: 1170px) {
    .ticketTimer {
        width: 115px;
    }
}
