@import './table.module.scss';

.rowLayout {
    display: grid;
    grid-template: 1fr / max-content 1fr repeat(3, minmax(100px, 1fr));
    padding: 0 10px;
    grid-gap: 10px;
}

.connection {
    @include box(20px);
}
