@import './table.module.scss';

.title {
    @include font(20px, 600px);
    margin-top: 30px;
}

.entityPaginatedTable {
    composes: entityPaginatedTable;
    margin-top: 10px;
}

.rowLayout {
    display: grid;
    grid-template: 1fr / 240px 240px 240px;
}
