@import '../base.scss';

.window {
    display: grid;
    grid-template: 1fr / 100px 1fr;

    overflow: hidden;
    height: 100vh;
    width: 100%;
}

@media print {
    .window {
        grid-template: 1fr / 1fr;
    }
}

.sidebar {
    @include box(100%, 100vh);
    display: grid;
    grid-template: 80px 1fr 80px / 1fr;

    background-color: $darkBlue;
}

@media print {
    .sidebar {
        display: none;
    }
}

.sidebarLogo {
    @include box(100%);
    @include flexCenter();

    border-bottom: 1px solid $white;
}

.sidebarUser {
    @include box(100%);
    @include flexCenter();
}

.sidebarChildren {
    @include box(100%);
    padding-top: 20px;
    grid-gap: 10px;

    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    scrollbar-width: none;
}

.sidebarChildren::-webkit-scrollbar {
    display: none;
}

.children {
    padding: 20px 40px;
    padding-top: 0;

    min-height: 100vh;
    min-height: 100svh;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
}

.loaderWindow {
    @include box(100%, 100vh);
    @include flexCenter();
}
// calc((100vw - 20px - 20px - 20px) / 2)

.doubleColumns {
    @include box(100%, max-content);

    display: grid;
    grid-template: 1fr / minmax(100px, 1fr) minmax(100px, 1fr);

    grid-gap: 20px;
}

// @media print {
//     .doubleColumns {
//         grid-template: max-content max-content / 1fr;
//     }
// }

.side {
    @include flexVert();
    @include box(100%, max-content);
    grid-gap: 20px;
}

.formWindow {
    @include box(100%);
    padding: 0;

    display: grid;
    grid-template: 1fr 60px / 1fr;
}

.formChildren {
    @include box(100%);
    overflow-y: scroll;

    padding: 40px;
    padding-top: 0;
}

.formLayout {
    @include box(100%);
    padding: 0;
}

.formSubmitBottom {
    @include box(100%);
    @include flex();

    padding: 0 40px;
    grid-gap: 20px;

    border-top: 1px solid $lightGrey;
    background-color: $grey;
}

.formSubmitLimitedButton {
    max-width: 200px;
}

.formTabsButtons {
    @include box(100%, max-content);
    @include flex();

    margin-top: 15px;
    grid-gap: 10px;
}

.formTableHeight {
    max-height: calc(100vh - 33px - 46px - 40px - 52px - 34px - 30px - 80px);
}

.afterTabsMargin {
    margin-top: 15px;
}

.emptyPadding {
    padding: 0;
}

.adminSidebar {
    composes: sidebar;
    @include flexCenterVert();

    border-left: 1px solid $white;
    padding-top: 20px;
    grid-gap: 20px;

    box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.2) inset;
    background-color: $darkBlue;
}

.actionsBottom {
    @include box(100%, 60px);

    composes: formSubmitBottom;
    z-index: $overlapIndex;

    position: absolute;
    bottom: 0;
    left: 0;
}
