@import '../base.scss';

.modalTable {
    @include box(100%, max-content);
    @include flexVert();
}

.modalTableLayout {
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    grid-gap: 10px;
    padding: 0 20px;
}

.modalTableRow {
    composes: modalTableLayout;
    @include box(100%, 40px);
    border-bottom: 1px solid $lightGrey;
}

.modalTableHeader {
    composes: modalTableRow;
    background-color: $grey;
}

.modalTableField {
    @include box(100%);
    @include flex();
}

.modalTableHeaderField {
    composes: modalTableField;
    @include font(10px, 400, 10px, $darkGrey);
}

.modalTableItem {
    composes: modalTableRow;
    background-color: $white;
}

.modalTableItemField {
    composes: modalTableField;
    @include font(12px, 400);
    overflow-y: auto;
}

.modalTableItemField::-webkit-scrollbar {
    display: none;
}

.modalTableItemGapField {
    composes: modalTableItemField;
    padding-right: 10px;
}

.modalTableItemArrowField {
    composes: modalTableItemField;
    display: grid;
    grid-template: 1fr / 1fr 12px;
    grid-gap: 2px;
    padding-right: 2px;
}

.modalTableItemArrowField svg {
    @include box(10px);
}

.modalTableItemFieldBlue {
    composes: modalTableItemField;
    color: $blue;
    text-decoration: underline;

    grid-gap: 10px;
}

.modalTableContent {
    @include box(100%, max-content);
    max-height: 360px;
    overflow-y: auto;
}

.modalTableContent::-webkit-scrollbar {
    width: 5px;
}

.noGap {
    grid-gap: 0;
}

.entityValue {
    padding: 5px;
    border-radius: 2px;
    background-color: $lightGrey;
    width: 100%;
}

.redValue {
    color: $red;
}

.greenValue {
    color: $green;
}

.link {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    width: max-content;
}

.link:hover {
    text-decoration: none;
}

.emptyValue {
    color: $darkGrey;
}

.title {
    @include font(16px, 600, 16px);
    margin-bottom: 15px;
}

.historyItem {
    display: grid;
    grid-template: 1fr / 1fr 20px 1fr;
    grid-gap: 10px;
    place-items: center;
    font-size: 12px;
}

.historyItem svg {
    @include box(20px);
}

.center {
    @include flexCenter();
}

.dashMargin {
    margin-left: 5px;
}

.loader {
    margin-top: 70px;
    @include box(100%);
    @include flexCenter();
}

.pointer {
    cursor: pointer;
}
