@import '../base.scss';
@import './side_menu.module.scss';

.modalLayout {
    composes: layout;

    transition: none;
    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;

    border: 1px solid $lightGrey;
    border-radius: 5px;

    height: max-content;
    min-width: 400px;
    max-width: 80%;
    @include flexVert();
}

.modalWide {
    min-width: 500px;
    max-width: 80%;
}

.modalShadow {
    composes: backDark;
    @include box(100%);

    position: absolute;
}

.layoutHeader {
    composes: layoutHeader;
    grid-gap: 10px;
}

.headerContent {
    composes: headerContent;
    padding: 0 20px;

    width: fit-content;
    max-width: 100%;

    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid $blue;

    z-index: $stuffIndex;
}

.modalTitle {
    @include box(max-content, 100%);
    @include flex();

    // border-bottom: 1px solid $blue;
    z-index: $mainContentIndex;
}

.modalContent {
    @include box(100%);
    @include flexVert();
    gap: 20px;
    padding: 20px;
}

.modalVertGrid {
    @include box(100%);
    @include flexVert();
    grid-gap: 20px;
}

.modalLarge {
    min-width: 800px;
    max-width: 80%;
    width: max-content;
}

.modalLargeHeight {
    composes: modalLarge;
    min-height: 300px;
}

.modalVeryLargeHeight {
    composes: modalLargeHeight;
    width: 820px;
}

.emptyModalContent {
    padding: 0;
}

.modalVert {
    @include box(100%);
    @include flexVert();
}

.modalVertAround {
    composes: modalVert;
    grid-gap: 10px;
}
