@import '../base.scss';
@import './table.module.scss';

.salePointTable {
    grid-template: 'content' 1fr 'pagination' 40px / 1fr;
    margin-top: 40px;
    max-height: calc(100vh - 50px - 32px - 20px - 20px);
}

.rowLayout {
    display: grid;
    grid-template: 1fr / max-content 1fr;
    padding: 0 10px;
}

.salePointTableHeader {
    composes: rowLayout;
}

.salePointTableHeaderField:first-child {
    grid-gap: 10px;
}

.salePointTableItem {
    composes: rowItem;
    composes: rowLayout;
    min-height: 60px;
    @include hoverTransition();
    cursor: pointer;
    background-color: $white;
}

.salePointTableItem:hover {
    background-color: $darkWhite;
}

.salePointTableItemField {
    @include box(100%);
    @include flex();
    @include font(12px, 600);
}

.salePointTableItemName {
    composes: salePointTableItemField;
    grid-gap: 10px;
}
