@import '../base.scss';
@import './layout.module.scss';

.contactsList {
    @include box(100%);

    position: relative;
}

.contacts {
    @include box(100%, max-content);
    @include flexVert();

    grid-gap: 10px;
    max-height: calc(91px * 3 + 10px * 2);
    overflow: scroll;

    padding: 3px;
    padding-bottom: 0;
}

.contacts::-webkit-scrollbar {
    display: none;
}

.addContactButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.contactEdit {
    cursor: pointer;
}

.contactEdit:hover {
    text-decoration: underline;
}

.rulesLink {
    color: $red;
}

.rulesLink:hover {
    text-decoration: underline;
}

.redValue {
    color: $red;
}

.greenValue {
    color: $green;
}
