@import '../base.scss';
@import './layout.module.scss';

.buttons {
    @include flex();
    grid-gap: 20px;
}

.button {
    width: 200px;
}

.selected {
    @include font(12px);
    margin-left: 40px;
}
