@import '../base.scss';
@import '../layout/text.module.scss';
.layout {
    z-index: $modalIndex;
    position: fixed;
    top: 0;
    left: 0;

    @include box(400px, 100%);
    border-right: 1px solid $lightGrey;

    background-color: $white;

    transform: translateX(-100%);
    transition: transform 0.5s;

    @include flexVert();
}

.rightLayout {
    transform: translateX(100%);
    left: unset;
    right: 0;

    border-left: 1px solid $lightGrey;
    border-right: none;
}

.wideLayout {
    min-width: 500px;
    max-width: 80%;
    width: max-content;
}

.layoutHeader {
    @include box(100%, 52px);

    display: grid;
    grid-template: 1fr / 1fr 52px;

    position: relative;
}

.layoutHeader::after {
    content: '';

    @include box(100%, 1px);
    background-color: $lightGrey;

    position: absolute;
    bottom: 0;
    left: 0;
}

.backDark {
    z-index: $backModalIndex;
    position: fixed;
    top: 0;
    left: 0;
    @include box(100%);

    background-color: $shadowBlue;
}

.close {
    @include box(100%);
    @include flexCenter();

    border-left: 1px solid $lightGrey;
}

.closeSvg {
    @include box(18px);
}

.headerContent {
    @include box(100%);
    @include flex();

    overflow-x: auto;
}

.headerContent::-webkit-scrollbar {
    @include box(4px);
}

.headerTitle {
    @include font(18px, 600);
    padding-left: 20px;
}

.betweenWrapper {
    @include box(100%);
    @include flexCenterVert();
    justify-content: space-between;
}

.sideMenuContainer {
    @include box(100%, max-content);
    display: flex;
    flex-direction: column;

    padding: 0 20px;
}

.sideMenuContainerMarginTop {
    composes: sideMenuContainer;
    margin-top: 20px;
}

.sideMenuBottom {
    @include box(100%, 52px);
    @include flexCenter();
    border-top: 1px solid $lightGrey;
}

.link {
    @include flex();
    @include font(12px, 600);
    grid-gap: 10px;
}

.linkSvg {
    @include box(20px);
}

.sideMenuContainerRowBetween {
    composes: sideMenuContainer;
    flex-direction: row;
    justify-content: space-between;
}

.tabs {
    @include flex();
    @include box(100%);
}

.tab {
    @include box(100%);
    @include font(18px, 600);
    @include flex();
    grid-gap: 10px;
    padding: 0 10px;
    z-index: $mainContentIndex;
    border-bottom: 1px solid transparent;
}

.tabBottom {
    border-bottom-color: $blue;
}

.tabSvg {
    @include box(20px);
}

.counter {
    // @include box(max-content);
    padding: 5px 4px;
    @include flexCenter();
    @include font(12px, 600, 9px);
    color: $white;
    background-color: $lightGrey;

    border-radius: 5px;
}

.firstTab {
    padding-left: 20px;
}

.menuContentScrollable {
    @include box(100%);
    overflow-y: auto;
}

.afterHeader {
    @include box(100%, 40px);
    @include flex();
    justify-content: flex-end;
    padding: 0 20px;
    border-bottom: 1px solid $lightGrey;
    background-color: $grey;
}

.subHeader {
    composes: afterHeader;
    justify-content: space-between;
}

.label {
    @include font(14px, 400);
    @include flex();
    grid-gap: 5px;
}

.sideBarFormWithBottom {
    @include box(100%);
    display: grid;
    grid-template: 1fr max-content / 1fr;
    padding-bottom: 20px;
}

.bottomButtons {
    composes: sideMenuContainer;

    display: grid;
    grid-template: 1fr / 160px 160px 1fr;
    grid-gap: 10px;
}

.caseBlueButton {
    height: 32px !important;
}

.subTitle {
    @include font(16px, 600);
}

.text {
    @include font(14px);
}

.textLabel {
    @include font(10px, 400, 14px, $darkGrey);
}

.textBold {
    @include font(14px, 600);
}

.iconUser {
    @include box(14px);
}

.field {
    composes: text;
    margin-top: 20px;
}

.caseDetailBottom {
    @include box(100%, max-content);
    @include flexVert();
    grid-gap: 10px;
}

.sideMenuContainerRow {
    composes: sideMenuContainer;
    flex-direction: row;
    grid-gap: 40px;
}

.caseDetailWrapper {
    composes: sideMenuContainer;
    padding: 20px;

    overflow-y: auto;
    max-height: calc(100vh - 50px - 100px);
}

.caseDetailWrapper::-webkit-scrollbar {
    width: 3px;
}

.caseDetailContent {
    font-size: 0.8em;
    margin-top: 2px;
}

.caseDetailContent img {
    @include box(auto, 150px);
    object-fit: cover;
    object-position: center;
}
