@import '../base.scss';

.rowLayout {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);

    grid-gap: 10px;
}

.table {
    @include box(100%, max-content);
    @include flexVert();
    @include font(10px);
    color: $darkGrey;

    border-radius: 5px;
    border: 1px solid $lightGrey;

    background-color: $grey;
    overflow: hidden;
}

.tableRow {
    @include box(100%, 27px);
    padding: 0 10px;
    border-bottom: 1px solid $lightGrey;
    position: relative;
}

.tableRow:last-child {
    border-bottom: none;
}

.tableRowButton {
    composes: tableRow;
    @include flexCenter();
    @include font(12px);
    color: $darkGrey;

    grid-gap: 5px;
}

.tableRowButton svg {
    @include box(13px);
}

.tableRowField {
    @include box(100%);
    @include flex();
}

.tableRowFieldClickable {
    composes: tableRowField;
    cursor: default;
    position: relative;
}

.tableRowFieldClickable * {
    z-index: $mainContentIndex;
}

.tableRowFieldClickable::before {
    content: '';
    @include box(100%);
    background-color: $lightGrey;

    z-index: $stuffIndex;
    position: absolute;
    top: 0;
    left: -5px;
    opacity: 0;
    transition: opacity 0.2s;
}

.tableRowFieldClickable:hover::before {
    opacity: 0.6;
}

.tableRowFieldClickable:active::before {
    background-color: $lightGrey;
}

.defaultTableRow {
    composes: rowLayout;
    composes: tableRow;
}

.betweenTableRowField {
    composes: tableRowField;
    @include flexBetween();
}

.smallTableIcon {
    @include box(12px);
}

.wrapper {
    @include flex();
    grid-gap: 10px;
}

.serverLink {
    @include flexCenter();
}

.pointerTableRow {
    composes: defaultTableRow;
    cursor: pointer;
}

.pointerTableRow:hover {
    background-color: $lightGrey;
}

.problemItem {
    color: $red;
}
