@import '../base.scss';

.tableLayout {
    @include box(100%, max-content);
    max-height: calc(100vh - 50px - 32px - 40px - 10px - 60px);

    display: grid;

    border: 1px solid $lightGrey;
    border-radius: 5px;

    position: relative;
}

.settingsButton {
    @include box(20px);
    border-radius: 50%;
    background-color: $darkGrey;

    @include flexCenter();

    position: absolute;
    top: -10px;
    right: -10px;
}

.settingsButton svg {
    @include box(12px);
}

.ticketsTable {
    grid-template: 'sidebar content' 40px 'sidebar content' 1fr 'pagination pagination' 40px / max-content 1fr;
}

.ticketsRowLayout {
    display: grid;
    grid-template:
        1fr / max-content 92px minmax(110px, 140px) minmax(140px, 1fr) minmax(
            120px,
            170px
        )
        minmax(170px, 1fr) minmax(100px, 1fr) minmax(110px, 160px) 166px;
    grid-gap: 5px;
    // min-width: 1240px;
    padding: 0 10px;
    place-items: center;
}

.tableContent::-webkit-scrollbar-thumb {
    background-color: $lightGrey;
    border-radius: 5px;
}

.tableSidebar {
    @include box(20px, 100%);
    @include font(10px, 400, 10px, $darkGrey);

    grid-area: sidebar;

    background-color: $grey;
    border-right: 1px solid $lightGrey;
    overflow: hidden;
    will-change: width;
}

.tableSidebarBurger {
    // width: 20px;
    width: 100%;
    @include flexCenterVert();
    grid-gap: 5px;
    padding-top: 10px;
}

.tableOpenedSidebar {
    @include box(100%);
    display: grid;
    grid-template: 40px 1fr / 1fr;
}

.tableOpenedSidebarName {
    @include box(100%);
    @include flex();

    padding-left: 12px;
    grid-gap: 5px;
    border-bottom: 1px solid $lightGrey;

    line-height: 5px;
    color: $darkGrey;
}

.vertArrowSvg {
    @include box(5px, 9px);
}

.tableOpenedSideBarContent {
    @include box(100%);
    @include flexCenterVert();
}

.ticketsSidebarItem {
    @include box(calc(100% - 2px), max-content);

    text-align: left;
    border-radius: 2px;
    padding: 6px 10px;
    color: $darkBlue;

    margin-top: 2px;
}

.ticketsSidebarItemSelected {
    composes: ticketsSidebarItem;
    background-color: $lightBlue;
}

.ticketsSidebarItem:hover {
    background-color: $lightBlue;
}

.ticketsSidebarItem:last-child {
    margin-bottom: 2px;
}

.tableSidebarText {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.platesSvg {
    @include box(10px, 8px);
}

.tableHeaderField {
    @include box(100%);
    @include flex();
    @include font(10px, 400, 16px, $darkGrey);
}

.tableHeaderField:first-child {
    grid-gap: 10px;
}

.tablePagination {
    @include box(100%);
    @include font(10px, 400, 16px, $darkGrey);
    @include flexBetween();

    grid-area: pagination;
    padding-left: 20px;
    padding-right: 10px;

    background-color: $grey;
    border-top: 1px solid $lightGrey;
}

.tablePaginationOffset {
    @include flex();
    grid-gap: 10px;
}

.offsetButtons {
    @include flex();
    grid-gap: 5px;
}

.offsetButton {
    @include font(10px, 400, 16px, $blue);
}

.offsetButtonCurrent {
    @include font(10px, 400, 16px, $darkGrey);
}

.tablePaginationPages {
    @include flex();
    grid-gap: 5px;
}

.tablePaginationPage {
    @include box(20px);
    @include flexCenter();
    @include font(10px, 400, 10px, $white);

    background-color: $darkBlue;
    border-radius: 5px;
}

.tablePaginationPageCurrent {
    composes: tablePaginationPage;
    background-color: $opacityBlue;
}

// .rowsWrapper {
//     @include box(100%);
//     overflow-x: auto;

//     grid-area: rows;
// }

.tableHeader {
    @include box(100%, 40px);

    background-color: $grey;
    border-bottom: 1px solid $lightGrey;
    min-width: fit-content;
}

.tableContent {
    @include box(100%);
    display: grid;
    grid-template: max-content 1fr / 1fr;

    grid-area: content;

    overflow-x: auto;
    overflow-y: hidden;
}

.tableContent::-webkit-scrollbar-track {
    background-color: $white;
}

.rowsWrapper {
    @include box(100%);
    min-width: fit-content;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: $white;
}

.subRows {
    width: 100%;
    padding-left: 30px;
}

.rowsWrapper::-webkit-scrollbar {
    display: none;
}

.ticketHeaderField:first-child {
    grid-gap: 5px;
}

.rowItem {
    composes: ticketsRowLayout;
    @include box(100%, max-content);
    min-height: 75px;
    border-bottom: 1px solid $lightGrey;
    min-width: fit-content;

    @include hoverTransition();
    cursor: pointer;
    background-color: $white;

    overflow: auto;
}

.rowItem::-webkit-scrollbar {
    @include box(4px);
}

.rowItem:hover {
    background-color: $darkWhite;
}

.rowItem:last-child {
    border-bottom: none;
}

.rowItemField {
    @include box(100%);
    @include font(12px, 600, 16px, $darkBlue);
    @include flex();
    flex-wrap: wrap;
    grid-gap: 5px;

    padding: 25px 0;

    overflow: auto;
}

.rowItemField::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.rowItemField:first-child {
    grid-gap: 10px;
}

.rowItemField:last-child {
    padding-right: 10px;
}

.rowItemField a {
    color: $darkBlue;
}

.rowItemField a:hover {
    text-decoration: underline;
}

.ticketJobsTableLayout {
    max-height: calc(
        100vh - 33px - 46px - 40px - 52px - 34px - 30px - 80px
    ) !important;

    grid-template: 'content' 1fr 'pagination' 40px / 1fr;
}

.ticketJobsTableRowLayout {
    display: grid;

    grid-template: 1fr / max-content minmax(200px, 1fr) 1fr 1fr 1fr 160px;
    grid-gap: 10px;
    padding-left: 10px;
    padding-right: 20px;

    place-items: center;
}

.ticketJobItem {
    composes: ticketJobsTableRowLayout;
    @include box(100%, 60px);
    border-bottom: 1px solid $lightGrey;

    @include hoverTransition();
    cursor: pointer;
    background-color: $white;
}

// .ticketJobItem:hover {
//     background-color: $darkWhite;
// }

.ticketJobItem:last-child {
    border-bottom: none;
}

.ticketJobItemField {
    @include box(100%);
    @include flex();
}

.ticketJobItemName {
    composes: ticketJobItemField;
    @include font(12px, 600);
    @include flex();
    grid-gap: 10px;
}

.ticketJobItemButton {
    @include box(160px, 32px);
    @include font(12px, 400, 12px, $white);

    border: 1px solid $primaryGreen;
    border-radius: 5px;
    background-color: $primaryGreen;

    margin: auto 0;

    transition:
        color,
        background-color 0.2ms;
}

.ticketJobItemButtonSelected {
    background-color: transparent;
    color: $primaryGreen;
}

.ticketJobItemButton:hover {
    background-color: transparent;
    color: $primaryGreen;
}

.ticketJobItemButton:disabled:hover {
    background-color: $primaryGreen;
    color: $white;
}

.ticketJobItemButton:disabled {
    opacity: 0.8;
}

.ticketJobHeader {
    height: 50px;
}

.ticketJobHeaderField:first-child {
    grid-gap: 10px;
}

.entityPaginatedTable {
    grid-template: 'content' 1fr 'pagination' 40px / 1fr;
    margin-top: 40px;
    max-height: calc(100vh - 50px - 32px - 20px - 20px);
}

.rowLayout {
    display: grid;
    grid-template: 1fr / 1fr;
    padding: 0 10px;
    grid-gap: 10px;
    place-items: center;
}

.headerField:first-child {
    grid-gap: 10px;
}

.tableItem {
    composes: rowLayout;
    composes: rowItem;
    min-height: 60px;
    @include hoverTransition();
    cursor: pointer;
    background-color: $white;
}

.tableItem:hover {
    background-color: $darkWhite;
}

.tableItem > * {
    cursor: pointer;
}

.tableItemField {
    @include box(100%);
    @include flex();
    @include font(12px, 600);

    overflow: auto;
}

.tableItemField::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.tableItemField a {
    color: $darkBlue;
}
.tableItemField a:hover {
    text-decoration: underline;
}

.tableItemName {
    composes: tableItemField;
    grid-gap: 5px;
}

.oneFieldEntityCardHeight {
    max-height: calc(75px * 3 + 10px * 2);
}

.tableItemValue {
    @include box(100%, max-content);
    @include flexVert();
}

.tableItemArrow {
    @include box(14px, 7px);
}

.directoryArrow {
    @include box(12px, 10px);
}

.checkboxField {
    @include flex();
}

.jobResultUserCount {
    @include font(12px, 600);
    padding: 10px;
    cursor: pointer;
    transform: translateX(-10px);
    border-radius: 2px;
}

.jobResultUserCount:hover {
    background-color: $lightGrey;
}
