@import '../base.scss';

.ticketCreate {
    @include box(100%);
    padding: 0;
}

.ticketCreateWindow {
    @include box(100%);
    padding: 0;

    display: grid;
    grid-template: 1fr max-content / 1fr;
}

.ticketCreateChildren {
    @include box(100%);
    overflow-y: auto;

    padding: 40px;
    padding-top: 0;
}

.ticketSubmitBottom {
    @include box(100%, max-content);
    min-height: 60px;
    @include flex();

    padding: 0 40px;
    grid-gap: 20px;

    border-top: 1px solid $lightGrey;
    background-color: $grey;
}

.ticketSubmitButton {
    @include box(100%, 40px);
    @include flexCenter();
    @include font(14px, 400, 16px);
    @include lightShadow();
    @include hoverTransition();
    grid-gap: 10px;
    border-radius: 4px;
    background-color: $white;
}

.ticketSubmitButton:hover {
    background-color: $darkWhite;
}

.ticketSubmitButtonPrimary {
    composes: ticketSubmitButton;
    background-color: $primaryGreen;
}

.ticketSubmitButtonPrimary:hover {
    background-color: $primaryGreenHover;
}

.ticketSubmitButtonLimited {
    width: 200px;
}

.ticketSubmitButtonSvg {
    @include box(12px, 10px);
}

.ticketOptionsBar {
    @include box(100%, 52px);
    @include flexBetween();

    background-color: $white;
    border: 1px solid $lightGrey;
    border-radius: 5px;
    padding: 0 20px;
    margin-top: 40px;
}

.ticketOptions {
    @include flex();
    grid-gap: 40px;
}

.ticketOptionLink {
    @include font(12px);
    @include flex();
    color: $blue;
    grid-gap: 5px;
}

.ticketTabsButtons {
    @include box(100%, max-content);
    @include flex();

    margin-top: 15px;
    grid-gap: 10px;
}

.afterTabsMargin {
    margin-top: 15px;
}

.IndexReverse {
    flex-direction: column-reverse !important;
}

.tags {
    @include box(100%, max-content);
    @include flex();
    flex-wrap: wrap;
    grid-gap: 10px;
}

.tag {
    @include flexCenter();
    @include box(max-content);
    @include font(12px, 600, 12px, $darkGrey);
    padding: 10px;
    border-radius: 50px;

    background-color: $lightGrey;

    position: relative;
}

.tagAddButton {
    composes: tag;
    border: 1px solid $darkGrey;
    background-color: transparent;
    padding: 0;
    @include box(29px);
}

.tagPlusSvg {
    @include box(9px);
    fill: $darkGrey;
}

.tagRemoveButton {
    position: absolute;
    top: -1px;
    right: -2px;
}

.performSelectedJobsButton {
    @include box(200px, 40px);
    font-size: 14px;
}

.caseDateTimeField {
    display: grid;
    grid-template: 1fr / 160px 100px;
    grid-gap: 10px;
}

.caseManagerField {
    height: 35px;
}

.commentForm {
    @include flex();
    align-items: flex-end;
    grid-gap: 10px;
    padding: 20px 0;
}

.loaderText {
    @include box(100%);
    @include flexCenter();
    height: 140px;
    font-size: 24px;
}

.directoryLinks {
    @include flexVert();
    grid-gap: 2px;
}

.directoryLink {
    @include font(12px, 400, 14px);
    color: $white !important;
}

.directoryLink:hover {
    text-decoration: underline;
}

.inventoryButton:hover {
    text-decoration: underline;
}

.ticketTableItem {
    grid-gap: 5px !important;
}
