@import '../../layout/modal_window.module.scss';

.modalContent {
    padding: 0;
}

.filterHeader {
    grid-area: header;
}

.filterWidth {
    @include box(100%, 700px);
    max-width: 800px;
    max-height: 90vh;

    display: grid;
    grid-template: 'header header' 52px 'order select' 1fr 'bottom bottom' max-content / 178px 1fr;
}

.wrapper {
    @include box(100%);
    display: grid;
    grid-template: 'order select' 1fr 'bottom bottom' max-content / 178px 1fr;
    padding: 0;
    grid-gap: 0 20px;
}

.order {
    grid-area: order;
    @include box(100%);
    @include flexVert();

    overflow-y: auto;
    padding-top: 20px;
    padding-left: 6px;
    grid-gap: 2px;
}

.orderItem {
    @include box(100%, max-content);
    @include font(10px, 400, 11px);
    @include flex();

    border-radius: 4px;

    cursor: grab;
}

.orderContent {
    @include flex();
    padding: 5px;
    padding-right: 0;
    grid-gap: 5px;
    width: 100%;
}

.text {
    font-size: inherit;
}

.orderItem:hover {
    background-color: $grey;
}

.dotsSvg {
    @include box(6px, 10px);
}

.bag {
    @include flexCenter();
    cursor: pointer;
    padding: 5px;
    padding-left: 0;
}

.bag svg {
    @include box(8px, 11px);
}

.select {
    @include box(100%);
    overflow-y: auto;

    padding-top: 20px;
    padding-left: 20px;

    padding-right: 20px;
}

.table {
    @include box(100%, max-content);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    background-color: $grey;

    @include flexVert();
}

.letter {
    @include font(10px, 600, 10px, $darkGrey);
    margin-bottom: 20px;
}

.checkboxes {
    @include flex();
    grid-gap: 10px 50px;
    margin-bottom: 40px;
}

.checkbox {
    @include font(10px, 400, 10px);
    @include flex();
    grid-gap: 20px;
    cursor: pointer;
}

.bottom {
    grid-area: bottom;
    @include box(100%, 52px);
    @include flexBetween();

    padding: 10px 20px;
    border-top: 1px solid $lightGrey;
}

.link {
    @include font(12px, 400, 12px, $blue);
    text-decoration: underline;
}

.saveButton {
    width: 160px;
    height: 32px;
}
