@import '../base.scss';

.input {
    border: 1px solid $lightGrey;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    @include font(12px);
    position: relative;
}

.input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    // transform: scale(1.2);
}

.input::placeholder {
    @include font(12px, 400);
    color: #4a5568;
}

.emptyInput {
    composes: input;
    border: none;
    border-radius: none;
}

.inputEmptyLayout {
    composes: input;
    padding: 0;
}

.inputEmptyLayoutFlatBottom {
    composes: inputEmptyLayout;

    border-radius: 2px 2px 0 0;
}

.errorMessage {
    @include font(12px, 400);
    color: $danger;
}

.errorInput {
    border-color: $opacityRed;
}

.checkbox svg {
    height: 13px !important;
    width: 13px !important;
}

.checkboxLabel {
    @include flex();
    @include font(12px);
    grid-gap: 5px;
    cursor: pointer;
}

.fieldsRow {
    @include box(100%);
    @include flex();
    grid-gap: 10px;
}

.shortInputWrapper {
    @include box(100%);
}

.shortInput {
    display: block;
    @include box(100%, 24px);
    @include font(12px, 400, 12px);

    padding: 0 5px;
}

.shortInput::placeholder {
    @include font(12px, 400, 12px, $darkGrey);
}

.fieldEntity {
    @include box(100%, max-content);
    @include flexBetween();
    grid-gap: 5px;
}

.fieldEntityLabel {
    @include font(12px, 600, 12px);
    min-width: 127px;
}

.fieldEntityChildren {
    max-width: 446px;
    @include box(100%);
    @include flex();
    align-items: flex-start;
    grid-gap: 8px;
}

@media (min-width: 1540px) {
    .fieldEntityChildren {
        max-width: 510px;
    }
}

.fieldEntityIcon {
    margin-top: 5px;
    @include box(12px);
}

.textarea {
    composes: input;
    resize: none;
    height: 150px;
}
