@import '../base.scss';

.link {
    @include box(60px);
    @include flexCenter();

    border-radius: 5px;

    background-color: transparent;
}

.link:hover,
.link.active {
    background-color: $opacityBlue;
}

.linkImg {
    @include box(40px);
}

.userLinkPlaceholder {
    background-color: $white;
}

.tooltip {
    z-index: $mainContentIndex;
    font-size: 12px;
    // background-color: ra;
}
