@import '../base.scss';

.avatarPlaceholder {
    @include box(40px);
    @include flexCenter();
    @include font(16px);
    border-radius: 50%;
    background-color: $grey;
}

.statusBar {
    @include box(100%, max-content);
    border-radius: 5px;
    margin-top: 40px;
    grid-gap: 1px;
    border: 1px solid $lightGrey;
    background-color: $grey;

    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    overflow: hidden;
}

.statusButton {
    @include box(100%, max-content);
    @include flexCenterVert();
    @include font(10px, 400, 10px, $darkGrey);
    grid-gap: 5px;
    padding: 10px 0;
}

.statusDot {
    @include box(8px);
    border-radius: 50%;
}

.holder {
    @include box(40px);
    background-color: transparent;
    fill: #fff;
}
