@import '../base.scss';

.button {
    @include box(100%, 32px);
    @include flexCenter();
    @include font(14px);

    border-radius: 5px;

    background-color: $sky;
    box-shadow: 0px 0px 10px 0px #1e293b1a;
    transition: background-color 0.1s 0.01s;
}

.button:hover {
    background-color: $skyHover;
}

.whiteButton {
    composes: button;
    background-color: $white;
}

.whiteButton:hover {
    background-color: $whiteHover;
}

.button:disabled {
    opacity: 0.8;
    cursor: default;
}

.standardWidth {
    max-width: 236px;
}

.blockStandardWidth {
    width: 236px;
}

.mediumWidth {
    width: 200px;
}

.shortWidth {
    width: 166px;
}

.smallWidth {
    width: 118px;
    grid-gap: 5px;
}

.smallWidth svg {
    @include box(16px);
}
