@import '../base.scss';
@import '../layout/modal_window.module.scss';

.modalContent {
    composes: modalContent;
}

.fullModalContent {
    composes: modalContent;
    padding: 20px 0;
}

.modalShadow {
    composes: modalShadow;
    z-index: $modalIndex;
}

.confirmWindowLayout {
    composes: modalLayout;
    composes: modalWide;
}

.buttons {
    @include box(100%, max-content);
    @include flex();
    grid-gap: 10px;
    padding: 0 20px;
}

.confirmText {
    @include font(16px, 400);

    overflow-y: scroll;
    max-height: 50vh;

    padding: 0 20px;
}

.confirmText img {
    max-height: 150px;
    width: auto;
    cursor: pointer;
}

.confirmText a {
    text-decoration: underline;
    color: $blue;
    font-size: 0.8em;
}
