@import '../base.scss';

.editor {
    @include box(100%, max-content);
    border-radius: 2px;
    background-color: #fff;
}

.editor .ql-toolbar.ql-snow {
    border-color: $lightGrey;
    border-radius: 2px 2px 0 0;
}

.editor .ql-container.ql-snow {
    border-color: $lightGrey;
    border-radius: 0 0 2px 2px;
}

.editor .ql-container.ql-snow {
    height: 200px;
}

.smallEditor .ql-container.ql-snow {
    height: 150px;
}

.smallEditor img {
    max-height: 100px !important;
}

.hiddenInput {
    display: none;
}

.opacityInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.editor img {
    max-height: 150px;
    max-width: 50%;
    cursor: pointer;
}

.editor * {
    word-break: break-all;
}

.dragEditor .ql-container.ql-snow,
.dragEditor .ql-toolbar.ql-snow {
    position: relative;
    // border-style: dashed !important;
    border-color: $darkBlue;
}

.dragWarn {
    display: none;
}

.dragEditor .dragWarn {
    @include box(100%);
    @include flexCenter();

    background-color: $grey;

    z-index: $mainContentIndex;
    position: absolute;
    top: 0;
    left: 0;
}

.largeEditorWrapper {
    @include box(
        100%,
        calc(100vh - 33px - 46px - 40px - 52px - 30px - 34px - 60px - 60px)
    );
}

.largeEditor {
    @include box(100%);
}

.largeEditor .ql-container.ql-snow {
    @include box(100%);
}

.editorWrapper {
    position: relative;
}

.editorLoaderWrapper {
    @include box(100%);
    @include flexCenter();

    z-index: $overlapIndex;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba($color: $white, $alpha: 0.5);
}
