@import '../base.scss';

.select {
    @include box(100%, max-content);

    position: relative;
}

.selectHeader {
    @include box(100%, 52px);
    @include flexBetween();
    @include font(18px, 600);

    border-radius: 5px 5px 0 0;
    border: 1px solid $lightGrey;
    // border-bottom: none;
    padding: 0 20px;

    background-color: $white;
    position: relative;
}

.selectHeaderSvg {
    @include box(14px, 7px);
}

.selectTrack {
    display: flex;
    @include box(100%, max-content);

    z-index: $mainContentIndex;
    background-color: #fff;
    overflow: visible;
    transition: height 0.5s 0.01s;

    border-radius: 0 0 5px 5px;
    border: 1px solid $lightGrey;
    border-top: none;
}

.selectChildren {
    @include box(100%, max-content);
    @include flexVert();

    grid-gap: 20px;

    padding: 24px 20px;
}
