@import '../base.scss';
@import '../layout/modal_window.module.scss';

.modalShadow {
    composes: modalShadow;
    z-index: $modalIndex;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $modalIndex;
}

.img {
    width: 50vw;
    height: auto;
    max-width: 50vw;
    max-height: 90vh;
    object-fit: cover;
}

.button {
    position: absolute;
    top: -10px;
    right: -10px;

    z-index: $modalIndex;
}

.button svg {
    @include box(25px);
    transform: rotate(45deg);
}
