@import '../base.scss';

.button {
    @include box(35px);
    @include flexCenter();

    background-color: $blue;
    color: $white;

    border-radius: 0px 2px 0px 0px;

    position: absolute;
    top: -1px;
    right: -1px;
    z-index: $mainContentIndex;

    cursor: pointer;
}

.button svg {
    @include box(10px);
}

.disabledButton {
    opacity: 0.6;
    cursor: default;
}

.button:disabled {
}
