@import '../base.scss';

.tabs {
    @include flex();
    grid-gap: 10px;
}

.tab {
    @include font(10px, 400, 12px, $blue);
}

.tabActive {
    composes: tab;
    text-decoration: underline;
}

.list {
    grid-gap: 10px;
    padding-top: 10px;
}
