@import '../base.scss';

.loaderText {
    @include font(14px, 600);
    @include box(100%, max-content);
    text-align: center;
}

.loaderPlace {
    @include box(100%, max-content);
    @include flexCenter();
    padding: 10px 0;
}

.loaderPlaceCover {
    composes: loaderPlace;
    height: 100%;
}

.loaderPlaceFull {
    @include box(100%, 500px);
    max-height: 30vw;
}

.optionLoader {
    @include box(100%, 32px);
    @include flexCenter();
    padding: 0;
}

.globalLoaderPlace {
    position: fixed;
    top: 0;
    left: 0;

    z-index: $totalIndex;

    @include box(100%);
    @include flexCenter();

    background-color: $opacityWhite;
    backdrop-filter: blur(4px);
}

.directoryLoading {
    padding: 30px 0;
}
