@import '../base.scss';

.filedWrapper {
    @include flex();
    justify-content: flex-end;
    flex-grow: 1;
}

.field {
    @include box(222px, 32px);

    display: grid;
    grid-template: 1fr / 32px 1fr;

    border-radius: 4px;

    overflow: hidden;
}

.search {
    @include box(100%);
    @include flexCenter();
    background-color: $lightGrey;
    border: 1px solid $lightGrey;
    border-radius: 4px 0 0 4px;
}

.search svg {
    @include box(14px);
}

.input {
    @include box(100%);
    @include font(14px, 400);

    padding: 0 12px;

    border: 1px solid $lightGrey;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.input::placeholder {
    color: $darkGrey;
}
