@import '../base.scss';

// .plusButton {
//     @include box(13px);
//     @include flexCenter();

//     border-radius: 50%;
//     border: 1px solid $lightGrey;
//     background-color: $darkGrey;
//     position: relative;
// }

// .plusButton svg {
//     @include box(7px);
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
// }

.plusButton {
    @include box(14px);
    @include flexCenter();

    // border-radius: 50%;
    // border: 1px solid $lightGrey;
    // background-color: $darkGrey;
    // position: relative;
}

.plusButton svg {
    @include box(14px);
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
}
