@import '../base.scss';

.popup {
    @include box(max-content);
    @include flexVert();
    position: absolute;

    padding: 6px 0;
    border-radius: 5px;
    border: 1px solid $lightGrey;
    background-color: $white;
    z-index: $mainContentIndex;

    transform: translate(-10px, calc(100% + 10px));
}

.popupTop {
    transform: translate(-10px, calc(-100% - 10px));
}

.popupTopClear {
    transform: translate(0, calc(-100% - 10px));
}

.popupOption {
    @include flex();
    @include font(12px, 400, 12px, $darkGrey);

    grid-gap: 6px;
    padding: 6px 10px;
}

.popupOption svg {
    @include box(12px);
}

.popupOption:hover {
    background-color: $lightGrey;
}
