@import '../base.scss';

.colorLabel {
    @include box(max-content);
    @include flex();
    position: relative;
}

.colorValue {
    @include box(31px);
    border: 1px solid $lightGrey;
    border-radius: 5px;

    cursor: pointer;
}

.colorValue:hover {
    border-color: $blue;
}

.colorInput {
    display: none;
}

.colorValueSelected {
    border-color: $blue;
}

.colorsOptions {
    @include flex();
    grid-gap: 10px;
    margin-top: 5px;
}

.colorValue img {
    @include box(100%, 17px);
    @include flexCenter();
    // margin-top: 3px;
    object-position: center;
}
