@import '../base.scss';

.button {
    @include box(100%, 40px);
    @include font(14px, 400, 14px);
    @include lightShadow();
    @include flexCenter();
    grid-gap: 10px;

    border: 1px solid $white;
    border-radius: 5px;
}

.button svg {
    fill: $darkBlue;
    @include box(12px);
}

.button:disabled {
    border-color: $lightGrey;
    color: $lightGrey;
    box-shadow: none;
}

.button:disabled svg {
    fill: $lightGrey;
}
