@import '../base.scss';

.select {
    @include box(100%, max-content);
    max-width: 446px;

    position: relative;
}

@media (min-width: 1540px) {
    .select {
        max-width: 510px;
    }
}

.selectHeader {
    @include box(100%, 24px);
    @include flexBetween();
    @include font(12px, 400, 12px, $darkGrey);

    padding: 0 5px;
    border-radius: 2px;
    border: 1px solid $lightGrey;

    position: relative;
    z-index: $mainContentIndex;
}

.selectHeaderDisabled {
    background-color: $lightGrey;
}

.selectHeader:disabled {
    background-color: $lightGrey;
}

.selectHeaderError {
    border-color: $opacityRed;
}

.selectHeaderOpen {
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}

.selectHeaderButton {
    @include font(12px, 400, 12px, $darkGrey);
    @include box(100%);
    @include flex();

    padding-top: 2px;

    text-align: left;

    cursor: pointer;
}

.selectHeaderSvgButton {
    @include box(max-content, 100%);
    @include flex();
    padding: 0 6px;
    position: absolute;
    right: 0;

    cursor: pointer;
}

.selectHeaderInput {
    @include font(12px, 400, 12px, $darkGrey);
    @include box(100%);
    @include flex();

    border: none;
    outline: none;
}

.selectHeaderInput::placeholder {
    @include font(12px, 400, 12px, $darkGrey);
}

.selectTrack {
    @include box(100%, max-content);

    background-color: #fff;
    overflow: hidden;

    border-radius: 0 0 2px 2px;

    border: 1px solid $lightGrey;

    z-index: $overlapIndex;

    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
}

.selectChildren::-webkit-scrollbar {
    width: 4px;
}

// .selectChildren::-webkit-scrollbar-thumb {
//     background-color: $grey;
// }

// .selectChildren::-webkit-scrollbar-track {
//     background-color: $lightGrey;
// }

.selectChildren {
    @include box(100%);
    @include flexVert();

    max-height: 128px;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: $white;
}

.selectFieldSvg {
    @include box(9px, 5px);
}

.option {
    @include font(10px, 400, 10px, $darkGrey);
    @include flex();
    @include box(100%, max-content);

    border-bottom: 1px solid $lightGrey;

    grid-gap: 5px;
    padding: 10px 20px;

    cursor: pointer;
}

.option:hover {
    background-color: $darkGreyShadow;
}

.headerOption {
    composes: option;

    border: 1px solid $lightGrey;
    border-radius: 2px 2px 0 0;
}

.optionButton {
    composes: option;
}

.optionButton:last-child {
    border-bottom: none;
}

.optionLabel:last-child > * {
    border-bottom: none;
}

.optionItem {
    @include box(100%, max-content);
    @include flex();
    text-align: left;
    grid-gap: 5px;
}

.optionName {
    composes: optionItem;
    @include font(12px, 600, 12px);
    text-align: left;
    grid-gap: 10px;
}

.optionItemSvg {
    @include box(10px);
    min-width: 10px;
}

.optionPhoneSvg {
    @include box(10px);
}

.optionEmailSvg {
    @include box(10px, 7px);
}

.optionLocationSvg {
    @include box(8px, 11px);
}

.selectLayout {
    @include box(100%, 24px);
    @include flexBetween();
    grid-gap: 5px;
}

.selectLabelText {
    min-width: 127px;
    width: 127px;
    @include font(12px, 600);
}

.selectedEntityCard {
    @include box(100%, max-content);
    @include font(10px, 400, 7px, $darkGrey);
    @include flexVert();

    padding: 10px;
    border-radius: 5px;
    grid-gap: 5px;

    background-color: $grey;
    border: 1px solid $grey;

    position: relative;
}

.selectedEntityCardHovering {
    @include hoverTransition();
    cursor: pointer;
}

.selectedEntityCardHovering:hover {
    background-color: $lightGrey;
}

.selectedEntityCardSelected {
    border-color: $sky;
}

.selectedEntityCardMainTitle {
    @include font(12px, 600, 9px);
}

.selectedEntityCardHeader {
    @include flexBetween();
    align-items: flex-start;
}

.selectedEntityCardNavBar {
    @include flex();
    grid-gap: 10px;
}

// .closeButton {
//     @include box(10px);
//     @include flexCenter();

//     border-radius: 50%;
//     border: 1px solid $lightGrey;
//     background-color: $darkGrey;

//     position: absolute;
//     top: -3px;
//     right: -3px;
// }

// .closeButton svg {
//     @include box(6px);
// }

.closeButton {
    @include box(max-content);
    @include flexCenter();
    background-color: transparent;

    position: absolute;
    top: -4px;
    right: -4px;
}

.closeButton svg {
    @include box(12px);
    transform: rotate(45deg);
}

.extraFields {
    @include box(100%, max-content);
    @include flexVert();

    grid-gap: 7px;
    margin-top: 15px;
}

.fieldsRow {
    @include box(100%, max-content);
    @include flex();
    grid-gap: 5px;
}

.field {
    @include box(100%, max-content);
    max-width: 176px;
    @include flex();
    grid-gap: 5px;
}

.field span {
    @include flex();
    flex-wrap: wrap;
    grid-gap: 5px;
}

.field a {
    color: $darkGrey;
}

.field a:hover {
    text-decoration: underline;
}

.fieldDash {
    fill: $darkGrey;
}

.fieldFull {
    composes: field;
    max-width: 100%;
}

.createButton {
    composes: option;
    @include box(100%, 32px);
    @include flexCenter();
    @include font(12px);
    color: $darkGrey;
    grid-gap: 5px;
    padding: 0;
    border-top: 1px solid $lightGrey;
    border-bottom: none;
}

.createButtonIcon {
    @include box(13px);
}

.createButtonEmptyTop {
    border-top: none;
}

.staticOptionsTrack::-webkit-scrollbar {
    width: 5px;
}

.staticOptionsTrack {
    composes: selectTrack;
    position: initial;
    border: none;
    transform: none;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 132px;
}

.selectedEntityCardNavBar {
    @include flex();
    @include box(100%, max-content);
}

.selectedEntityNavbarLink {
    @include flex();
}

.selectedEntityNavbarList {
    @include flex();
    grid-gap: 10px;
}

.selectedEntityNavbarSvg {
    @include box(12px);
}

.selectedEntityNavbarSvgSmall {
    composes: selectedEntityNavbarSvg;
    width: 10px;
}

.titleValue {
    min-width: 176px;
    @include box(fit-content, max-content);
    @include font(10px, 400, 10px, $darkGrey);
    @include flexVert();
    grid-gap: 5px;
    margin-right: 5px;
}

a.selectedEntityCardMainTitle {
    text-decoration: underline;
}

a.selectedEntityCardMainTitle:hover {
    color: $blue;
}

.optionSelected {
    background-color: $darkGreyShadow;
}

.borderedSelectList {
    @include flexVert();
    border: 1px solid $lightGrey;
    border-top: none;
    border-radius: 0 0 2px 2px;
}

.borderedSelectListFull {
    composes: borderedSelectList;
    border: 1px solid $lightGrey;
    border-radius: 2px;
}

.searchSelectChildren {
    composes: selectChildren;

    max-height: 131px;
}

.borderedSelectChildren {
    composes: selectChildren;

    border: 1px solid $lightGrey;
    border-top: none;
    border-radius: 0 0 2px 2px;

    max-height: 132px;
}

.flexSelect {
    @include flexVert();
}

.errorBorder {
    border-color: $danger !important;
}
