@import '../base.scss';

.input {
    @include box(100%, max-content);
    @include font(12px, 400, 12px, $darkGrey);

    padding: 5px;
    border: 1px solid $lightGrey;
    border-radius: 2px;
}

.input::placeholder {
    @include font(12px, 400, 12px, $darkGrey);
}
