@import '../base.scss';
@import '../forms/field.module.scss';

.statuses {
    @include flexVert();
    margin-top: 10px;
    grid-gap: 10px;
    max-height: calc(30px * 4 + 10px * 3);
    overflow: auto;
}

.statuses::-webkit-scrollbar {
    width: 4px;
}

.statusBtn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
}

.statusBtnSelected {
    border-color: $darkGrey;
}

.statusBtn:hover {
    border-color: $darkGrey;
}

.createButton {
    margin-top: 10px;
    border: none;
}
