@import '../base.scss';

.statusOption {
    @include box(100%, max-content);
    @include font(12px, 400, 16px);
    @include flexBetween();

    padding: 5px;
    border-radius: 5px;
}

.statusOptionSelect {
    composes: statusOption;
    width: 166px;
}

.statusInput {
    display: none;
}

.statusSelectButton {
    width: 100%;
    margin-bottom: 5px;

    position: relative;
}

.statusSelectButtonSvg {
    @include box(9px, 5px);
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.statusOptionName {
    @include flex();
    grid-gap: 5px;
}

.statusOptionIcon {
    @include box(12px);
}

.statusSelect {
    @include box(166px, max-content);
    position: relative;
}

.statusSelectTrack {
    @include box(100%, max-content);
    @include flexVert();
    grid-gap: 5px;

    position: absolute;
    bottom: 0;
    left: 0;

    transform: translateY(100%);
    z-index: $overlapIndex;
}

.statusLabel {
    cursor: pointer;
}

.statusLabelDisable {
    cursor: default;
}
