@import '../base.scss';

.switcher {
    --width: 27px;
    --height: 17px;

    --padding: 1px;
    --border: 1px;

    @include box(var(--width), var(--height));
    @include flex();
    border: 1px solid $darkShadowBlue;
    border-radius: calc(var(--width) * 4);
    padding: var(--padding);
    position: relative;
    transition: 0.5s;

    cursor: pointer;
}

.switcherInput {
    display: none;
}

.switcherDot {
    display: inline-block;
    --dot-size: calc(var(--height) - var(--padding) * 2 - var(--border) * 2);
    @include box(var(--dot-size));
    background-color: $darkShadowBlue;
    border-radius: 50%;

    transition: 0.5s;
}

.switcherDot {
    transform: translateX(0);
}

.switcherInput:checked ~ .switcher .switcherDot {
    transform: translateX(
        calc(
            var(--width) - var(--dot-size) - var(--border) * 2 - var(--padding) *
                2
        )
    );
    background-color: #63b6f2;
}

.switcherInput:checked ~ .switcher {
    border-color: #63b6f2;
}

.switcherField {
    @include flex();
    @include font(14px);

    cursor: pointer;
    grid-gap: 10px;
}
