@import '../base.scss';

.tab {
    @include font(12px, 400, 12px);
    color: $blue;
    background-color: transparent;
    border: 1px solid $blue;
    padding: 10px;
    border-radius: 50px;

    position: relative;

    transition:
        color,
        background-color 0.4s 0.01s;
}

.tab:hover {
    color: $white;
    background-color: $blue;
}

.tabCurrent {
    composes: tab;
    color: $white;
    background-color: $blue;
}

.circle {
    @include box(8px);
    background-color: $danger;
    border-radius: 50%;

    position: absolute;
    top: -4px;
    right: 4px;
}
