@import '../base.scss';

.select {
    @include box(100%, max-content);
    max-width: 446px;

    position: relative;
}

.selectHeader {
    @include box(100%, max-content);
    @include font(12px, 400, 12px, $darkGrey);

    padding: 6px;
    border-radius: 1px;
    border: 1px solid $lightGrey;

    position: relative;
    z-index: $mainContentIndex;
}

.selectTrack {
    @include box(100%);
    border-radius: 0 0 1px 1px;

    z-index: $mainContentIndex;
    background-color: #fff;
    overflow: hidden;

    z-index: $mainContentIndex;
}

.selectChildren {
    @include box(100%);
    @include flexVert();
    grid-gap: 10px;
    padding: 10px 6px;

    border: 1px solid $lightGrey;
    border-top: none;
}
