@import '../layout/modal_window.module.scss';

.tooltip {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);

    display: grid;
    grid-template: 30px 1fr 20px / 200px;

    border-radius: 5px;
}

.content {
    @include box(100%, max-content);
    @include font(10px, 400, 10px, $darkGrey);

    padding: 10px;
}

.header {
    @include box(100%, 30px);
    @include flexBetween();

    padding: 0 10px;
    border-bottom: 1px solid $lightGrey;
}

.bottom {
    @include box(100%, 30px);
    @include flex();
    justify-content: flex-end;

    grid-gap: 10px;
    padding: 0 10px;
    border-top: 1px solid $lightGrey;
}

.button {
    @include box(40px, 20px);
    @include flexCenter();
    @include font(10px, 400, 10px, $lightGrey);

    border-radius: 5px;
    border: 1px solid $lightGrey;
}

.buttonPrimary {
    composes: button;

    color: $primaryGreenDark;
    background-color: $primaryGreen;
    border-color: $primaryGreen;
}

.close svg {
    @include box(10px);
}
