.switcherDot {
    transform: translateX(0);
}

.switcherInput:checked ~ .switcher .switcherDot {
    transform: translateX(10px);
    background-color: #63b6f2;
}

.switcherInput:checked ~ .switcher {
    border-color: #63b6f2;
}
