@import '../../forms/field.module.scss';

.code {
    @include box(35px, max-content);
    padding: 2px;
    margin-left: 10px;
    border: none;
    @include font(12px);
    background-color: $sky;
    border-radius: 2px;
}

.number {
    padding-right: 10px;
    border: none;
    @include font(12px);
    @include box(100%);
}

.inputs {
    composes: input;

    @include flex();
    width: 100%;
    height: 35px;
    padding: 0;
    gap: 2px;
}

.shortInput {
    composes: shortInput;
    height: 24px;
}

.inputsSearch {
    border: none;
    height: 33px;
}
